<div class="menu" id="program">
  <button class="team-btn" (click)="forStudents = false">
    For Team Leaders and Observers
  </button>
  <button class="students-btn" (click)="forStudents = true">
    For Students
  </button>
</div>

<div class="program" *ngIf="!forStudents">
  <section class="day">
    <div class="title">02 december 2024</div>
    <article class="item">
      <span class="item__title">Opening Ceremony</span>
    </article>
  </section>
  <section class="day">
    <div class="title">03 december 2024</div>
    <article class="item">
      <span class="item__title">IB Meeting</span>
    </article>
  </section>
  <section class="day">
    <div class="title">04 december 2024</div>
    <article class="item">
      <span class="item__title">MCQ Exam</span>
    </article>
  </section>
  <section class="day">
    <div class="title">05 december 2024</div>
    <article class="item">
      <span class="item__title">Visit to Bran and Peles castle</span>
    </article>
  </section>
  <section class="day">
    <div class="title">06 december 2024</div>
    <article class="item">
      <span class="item__title">Theoretical exam</span>
    </article>
  </section>
  <section class="day">
    <div class="title">07 december 2024</div>
    <article class="item">
      <span class="item__title"
        >Visit to Antipa Museum The Horia Hulubei National Institute of Physics
        and Nuclear Engineering</span
      >
    </article>
  </section>
  <section class="day">
    <div class="title">08 december 2024</div>
    <article class="item">
      <span class="item__title">Practical exam</span>
    </article>
  </section>
  <section class="day">
    <div class="title">09 december 2024</div>
    <article class="item">
      <span class="item__title">Moderation</span>
    </article>
  </section>
  <section class="day">
    <div class="title">10 december 2024</div>
    <article class="item">
      <span class="item__title">Closing Ceremony</span>
    </article>
  </section>
  <section class="day">
    <div class="title">11 december 2024</div>
    <article class="item">
      <span class="item__title">Departure</span>
    </article>
  </section>
</div>

<div class="program students" *ngIf="forStudents">
  <section class="day">
    <div class="title">02 december 2024</div>
    <article class="item">
      <span class="item__title">Opening Ceremony</span>
    </article>
  </section>
  <section class="day">
    <div class="title">03 december 2024</div>
    <article class="item">
      <span class="item__title">IB Meeting</span>
    </article>
  </section>
  <section class="day">
    <div class="title">04 december 2024</div>
    <article class="item">
      <span class="item__title">MCQ Exam</span>
    </article>
  </section>
  <section class="day">
    <div class="title">05 december 2024</div>
    <article class="item">
      <span class="item__title">Visit to Bran and Peles castle</span>
    </article>
  </section>
  <section class="day">
    <div class="title">06 december 2024</div>
    <article class="item">
      <span class="item__title">Theoretical exam</span>
    </article>
  </section>
  <section class="day">
    <div class="title">07 december 2024</div>
    <article class="item">
      <span class="item__title"
        >Visit to Antipa Museum and The Horia Hulubei National Institute of
        Physics and Nuclear Engineering</span
      >
    </article>
  </section>
  <section class="day">
    <div class="title">08 december 2024</div>
    <article class="item">
      <span class="item__title">Practical exam</span>
    </article>
  </section>
  <section class="day">
    <div class="title">09 december 2024</div>
    <article class="item">
      <span class="item__title">Moderation</span>
    </article>
  </section>
  <section class="day">
    <div class="title">10 december 2024</div>
    <article class="item">
      <span class="item__title">Closing Ceremony</span>
    </article>
  </section>
  <section class="day">
    <div class="title">11 december 2024</div>
    <article class="item">
      <span class="item__title">Departure</span>
    </article>
  </section>
</div>
