<div class="menu" id="program">
  <button class="team-btn" (click)="forStudents = false">
    For Team Leaders and Observers
  </button>
  <button class="students-btn" (click)="forStudents = true">
    For Students
  </button>
</div>

<div class="program" *ngIf="!forStudents">
  <section class="day">
    <div class="title">30 november 2024</div>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
  </section>
  <section class="day">
    <div class="title">30 november 2024</div>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
  </section>
  <section class="day">
    <div class="title">30 november 2024</div>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
  </section>
</div>

<div class="program students" *ngIf="forStudents">
  <section class="day">
    <div class="title">30 november 2024</div>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Palas</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Palas</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Palas</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Palas</span>
    </article>
  </section>
  <section class="day">
    <div class="title">30 november 2024</div>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
  </section>
  <section class="day">
    <div class="title">30 november 2024</div>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
    <article class="item">
      <span class="item__time">18.00-21.00</span>
      <span class="item__title">Dinner at Traian Hotel</span>
    </article>
  </section>
</div>
