<div class="wrapper">
  <img
    class="wrapper__bg"
    src="https://www.economist.com/media-assets/image/20230916_STD001.jpg"
  />
  <div class="shadow"></div>
  <div class="wrapper__content">
    <h1 class="edition">21<sup>st</sup></h1>
    <h1>
      International Junior<br />
      <span class="highlight">Science</span> Olympiad
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores dolorem
      recusandae, dolorum possimus, ipsum esse ex rerum quasi nemo dolore,
      inventore iusto voluptatum omnis dolor laudantium labore repellendus.
      Similique eaque quidem repudiandae voluptatum consectetur et quia quisquam
      praesentium iure, error neque expedita quibusdam laborum voluptatibus qui
      dolorem aperiam non voluptatem.
    </p>
  </div>
</div>
