:host {
  width: 100%;
  background-color: var(--primary-color);
  margin-top: var(--gap);
  color: #fff;
  text-align: center;
  padding: 2rem 0 5rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #fff;
  color: #000;
  text-decoration: none;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &__image {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  &__title {
    padding: 1rem 1.2rem 1.4rem;
    font-size: 1.2rem;
    text-wrap: pretty;
    line-height: 1.6;
  }
  &:hover {
    border-radius: 4rem;
  }
}
