<h1 id="academic_activities">Academic activities</h1>
<div class="wrapper">
  <a class="card" href="http://cic.cdep.ro/en" target="_blank">
    <img class="card__image" src="/assets/gallery/imagine2.jpg" />
    <span class="card__title"
      >A symbol of Bucharest, the Palace of Parliament is the world’s
      second-largest administrative building.
    </span>
  </a>
  <a class="card" href="https://upb.ro/en/" target="_blank">
    <img class="card__image" src="/assets/gallery/imagine3.jpg" />
    <span class="card__title"
      >The National University of Science and Technology ”Politehnica” Bucharest
      stands as a beacon of education and innovation. Known for its advanced
      research facilities and diverse academic programs, it's a hub for aspiring
      engineers and scientists.
    </span>
  </a>
</div>
