<h1 id="gallery">Gallery</h1>
<div class="divider"></div>
<div class="wrapper">
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine1.jpg" />
  </article>
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine2.jpg" />
  </article>
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine3.jpg" />
  </article>
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine4.jpg" />
  </article>
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine5.jpg" />
  </article>
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine6.jpg" />
  </article>
  <article class="image-wrapper">
    <img src="/assets/gallery/imagine7.jpg" />
  </article>
</div>
<div class="divider"></div>
