<h1 id="gallery" class="highlight">Gallery</h1>
<div class="divider"></div>
<div class="wrapper">
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
  <article class="image-wrapper">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
  </article>
</div>
<div class="divider"></div>
