<h1 id="venue">Venue</h1>
<div class="wrapper">
  <a class="card" href="https://grandhoteltraian.ro/ro/">
    <img
      class="card__image"
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
    <span class="card__title">Traian Hotel</span>
  </a>
  <a class="card" href="https://grandhoteltraian.ro/ro/">
    <img
      class="card__image"
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
    <span class="card__title">Traian Hotel</span>
  </a>
  <a class="card" href="https://grandhoteltraian.ro/ro/">
    <img
      class="card__image"
      src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Grand_Hotel_Traian34.jpg"
    />
    <span class="card__title">Traian Hotel</span>
  </a>
</div>
