<h1 id="recreational_activities">Recreational activities</h1>
<div class="wrapper">
  <a class="card" href="https://castelulbran.ro/" target="_blank">
    <img class="card__image" src="/assets/gallery/imagine4.jpg" />
    <span class="card__title"
      >Discover the legendary <span class="highlight">Bran Castle</span>, often
      associated with the Dracula myth. Nestled in the Carpathian Mountains,
      this historic fortress offers a glimpse into Romania's rich medieval
      history.
    </span>
  </a>
  <a class="card" href="https://en.peles.ro/" target="_blank">
    <img class="card__image" src="/assets/gallery/imagine5.jpg" />
    <span class="card__title"
      ><span class="highlight">Peles Castle</span>, with its stunning
      Neo-Renaissance architecture, is a masterpiece of design and
      craftsmanship.
    </span>
  </a>
  <a
    class="card"
    href="https://visitbucharest.today/grigore-antipa-national-museum/"
    target="_blank"
  >
    <img class="card__image" src="/assets/gallery/imagine6.jpg" />
    <span class="card__title"
      ><span class="highlight">The Antipa Museum</span> in Bucharest is a
      treasure trove of natural history and biodiversity. Its extensive
      collections and interactive exhibits make it a fascinating destination for
      all ages.
    </span>
  </a>
  <a class="card" href="https://www.nipne.ro/" target="_blank">
    <img class="card__image" src="/assets/gallery/imagine7.jpg" />
    <span class="card__title"
      ><span class="highlight">The Horia Hulubei National Institute</span> of
      Physics and Nuclear Engineering is a center of excellence in physics and
      nuclear engineering. It's renowned for its cutting-edge research and
      contributions to science.
    </span>
  </a>
</div>
