:host {
  display: flex;
  flex-direction: column;
  background: url("/assets/bg.jpg") center center / cover no-repeat fixed;
  align-items: center;
  padding: 2rem 20% 4rem;
}

h1 {
  background-color: var(--on-primary-color);
  width: fit-content;
  font-size: 3rem;
  padding: 1rem 2rem;
  color: #fff;
  text-align: center;
}

.card {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 2rem;
  overflow: hidden;
  border: 1px solid #fff;
  height: fit-content;
  color: #000;
  text-decoration: none;
  height: fit-content;
  transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  gap: 0.5rem;
  height: 12rem;
  &__image {
    height: 100%;
    width: 10rem;
    object-fit: cover;
  }
  &__title {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  &:hover {
    border-radius: 4rem;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}
