:host {
  padding: 0 var(--gap);
}

.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  margin-bottom: 2rem;
  @media only screen and (max-width: 768px) {
    height: 20vh;
    margin-bottom: 1rem;
    margin-top: -1rem;
  }
}

.image-slider {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  border-radius: 4rem;
  background-color: var(--surface-color);
}

.left,
.right {
  display: flex;
  align-items: center;
  user-select: none;
  width: fit-content;
  position: absolute;
  cursor: pointer;
  z-index: 2;
  color: var(--text-color);
  height: 100%;
  background: linear-gradient(90deg, var(--background-color), transparent);
  padding: 0 2rem;
  span {
    font-size: 6rem;
    transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0.6;
    @media only screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }
  &:hover span {
    opacity: 1;
  }
  &:active span {
    transform: translateX(-3px);
  }
}

.right {
  right: 0rem;
  background: linear-gradient(-90deg, var(--background-color), transparent);
  &:active span {
    transform: translateX(3px);
  }
}
