<div class="content" id="circulars">
  <h1>
    <span class="highlight">21<sup>st</sup></span> International Junior Science
    Olympiad
  </h1>
  <div class="divider"></div>
  <h2>Bucharest, Romania, 1 - 10 December 2024</h2>
</div>
<ul>
  <li>
    All participants are required to have an ATK test prior to attending the
    opening ceremony. If any participant has a positive ATK test result, they
    will not be allowed to attend the opening ceremony. Everyone will receive an
    ATK check on the day of registration upon arrival at the hotel.
  </li>
  <li>
    In the Opening Ceremony, participants may wear a suit, formal dress, or
    national costume.
  </li>
  <li>
    On the day to the grand palace and the temples, please wear a shirt cover
    your shoulders, as well as long pants to cover your ankles, skirt or dress
    below your knees.
  </li>
  <li>
    Scientific calculator, fx-350 model, will be provided for the examination
  </li>
</ul>
