:host {
  display: grid;
  grid-template-columns: 35% auto;
  gap: var(--gap);
  padding: var(--gap);
  padding-top: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  img {
    margin-top: 1.4rem;
    height: fit-content;
    width: 22rem;
  }
}

h1 {
  font-size: 3rem;
  background: -webkit-linear-gradient(
    45deg,
    var(--on-primary-color),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.divider {
  width: 100%;
  height: 13px;
  background: linear-gradient(
    to right,
    #002b7f,
    #002b7f 33%,
    #fcd116 33%,
    #fcd116 66%,
    #ce1126 66%,
    #ce1126
  );
  margin-bottom: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: var(--gap);
  width: 100%;
  flex-shrink: 0;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;

  font-weight: bold;
  line-height: 1.6;
  gap: 1rem;
  li {
    padding: 2rem;
    font-size: 1.2rem;
    background-color: var(--accent-color);
    color: var(--on-primary-color);
    border-radius: 1rem;
  }
}
