:root {
  --header-h: 70px;
  --text-color: #000;
  --background-color: #ffffff;
  --primary-color: rgb(94, 109, 196);
  --on-primary-color: #395297;
  --accent-color: #c1d4fc;
  --on-accent-color: #81a0e4;
  --gap: 2rem;
}

.dark-theme {
  --background-color: #000;
  --text-color: #fff;
}

.highlight {
  color: #4d4dff;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
}
